# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.CursorEditor.iml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Etc\RiderProjects\CursorEditor\.idea\.idea.CursorEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
